* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
html {
    margin-top: 0 !important;
}
.ucsm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ucsm-copyright{
    width: 100%;
    text-align: center;
    border-top: 1px solid #ffffff1c;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
}

.ucsm-copyright p{
    color: #ffffff;
    margin: 0px;
}

.ucsm-copyright p a{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

  @media (min-width: 576px) {
    .ucsm-container {
      width: 540px;
    }
  }
  @media (min-width: 768px) {
    .ucsm-container {
      width: 740px;
    }
  }
  @media (min-width: 992px) {
    .ucsm-container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .ucsm-container {
      width: 1170px;
    }
  }
  @media (min-width: 1800px) {
    .ucsm-container {
      width: 1730px;
    }
  }

.ucsm-header-logo-lite{
    margin: 0 auto;
}

.ucsm-header-textlogo-lite.align-left{
    text-align: left;
} 
.ucsm-header-textlogo-lite.align-center{
    text-align: center;
} 
.ucsm-header-textlogo-lite.align-right{
    text-align: right;
} 

.ucsm-header-logo-lite img{
    max-height: 70px;
    max-width: 100%;
}

.ucsm-content {
    text-align: center;
    background: #0d3c41;
    margin-left: 0px;
    padding: 70px 60px 200px;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    
}

.ucsm-heading {
    font-size: 130px;
    line-height: .85;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    max-width: 625px;
    margin: 140px 0 30px;
}

.ucsm-heading span {
    font-size: 72px;
}

.ucsm-content p {
    color: #053643CC;
    margin: 20px 0 0px;
    max-width: 625px;
}

.ucsm-form-box {
    display: flex;
    padding-top: 50px;
    width: 580px;
    margin: 0 auto;
}

.ucsm-form-box input {
    width: 100%;
    height: 60px;
    border: 0;
    padding-left: 20px;
    border-radius: 40px;
    font-size: 17px;
    color: #000000a6;
    border: 1px solid #05364333;
    background: #D9D3C6;

}

.ucsm-form-box input::placeholder {
    opacity: 1;
    color: #000000a6;
}

.ucsm-form-box input:focus {
    outline: 0;
    box-shadow: none;
}

.ucsm-form-box button {
    margin-left: 10px;
    border-radius: 40px;
    background: #F58C31;
    border: 0;
    padding: 0 45px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ucsm-form-box button:hover {
    background: #f5bf57c7;
    color: #fff;
    border-color: #f5bf57c7;
}

.ucsm-social-box-lite ul {
    margin: 0;
    padding: 60px 0 0;
    list-style-type: none;
    display: inline-flex;
}

.ucsm-social-box-lite ul li {
    display: inline-block;
}

.ucsm-social-box-lite ul li a {
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin: 0 5px;
}

.ucsm-countdown .ucsm-countdown-item-lite {
    display: inline-flex;
    flex-direction: column;
    margin: 0 20px;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-label-lite {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin-top: 13px;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.ucsm-contact-info-lite {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.ucsm-contact-info-lite ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.ucsm-contact-info-lite ul li {
    display: inline-block;
}

.ucsm-contact-info-lite ul li,
.ucsm-contact-info-lite ul li a {
    margin: 0 7px;
    text-decoration: none;
    color: #053643;
    display: inline-flex;
    align-items: center;
    gap:6px;
}

.ucsm-contact-info-lite ul li p {
    margin: 0;
    color: #fff;
}
.ucsm-contact-info-lite ul li a p:hover {
    color: #ffffffd1;
}

.ucsm-contact-info-lite ul li .icon {
    border: 1px solid rgba(245, 140, 49, 0.1);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape-image{
    display: block;
    width: 850px;
    margin-right: 0px;
    margin-top: 35px;
}

.shape-image img{
    max-width: 100%;
}


@media (min-width: 992px) {
    .ucsm-countdown {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1799px) {
    .ucsm-contact-info-lite {
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .ucsm-heading{
        font-size: 80px !important;
        margin: 80px 0 30px;
        max-width: 390px;
    }
    .ucsm-heading span{
        font-size: 46px;
    }
    .ucsm-content p{
        font-size: 18px !important;
        line-height: 28px !important;
        margin: 20px 0 0px;
    }
    .ucsm-content{
        padding: 70px 60px 160px;
    }
}

@media (max-width: 1199px) {
    .ucsm-content{
        padding: 40px 60px 190px;
    }
}

@media (max-width: 991px) {
    .ucsm-container {
        height: auto;
        display: block;
        position: relative;
    }
    .ucsm-contact-info-lite {
        padding-top: 0px;
        position: static;
        transform: translateX(-0%);
    }
    .shape-image{
        width: 100%;
    }
    .ucsm-content{
        padding: 40px 60px 40px;
    }
    .ucsm-heading{
        max-width: inherit;
        margin-top: 40px;
    }
    .ucsm-contact-info-lite ul li a {
        margin: 0 15px 0px;
    }
    .ucsm-heading {
        font-size: 54px !important;
        line-height: 1.1;
    }
    .ucsm-heading span {
        font-size: 54px !important;
    }
    .ucsm-contact-info-lite ul li{
        margin-bottom: 10px;
    }
    .ucsm-header-textlogo-lite a{
        font-size: 40px !important;
    }
}

@media (max-width: 767px) {
    .ucsm-header-top-bar-pro {
        padding: 0 30px;
    }
    .ucsm-content {
        max-width: 100%;
    }
    .ucsm-heading {
        font-size: 40px !important;
    }
    .ucsm-heading span {
        font-size: 40px !important;
    }
    .ucsm-content p {
        font-size: 16px !important;
    }
    .ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
        font-size: 40px !important;
    }
    .ucsm-countdown .ucsm-countdown-item-lite {
        flex-basis: 50%;
    }
    .ucsm-form-box {
        padding: 50px 15px 0;
    }
    .ucsm-countdown .ucsm-countdown-item-lite {
        margin: 0 20px 25px;
    }
    .ucsm-form-box{
        width: auto;
    }
    .ucsm-content{
        padding: 40px 20px 40px;
    }
}

@media (max-width: 575px) {
    .ucsm-header-top-bar-pro {
        padding: 0 15px;
        flex-direction: column;
        top: 30px;
    }
    .ucsm-header-top-bar-pro .ucsm-header-logo-lite {
        margin-bottom: 20px;
    }
    .ucsm-heading {
        font-size: 30px !important;
        line-height: 1.3;
    }
    .ucsm-heading span {
        font-size: 30px !important;
    }
    .ucsm-form-box {
        flex-direction: column;
    }
    .ucsm-form-box button {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
    }
    .ucsm-container {
        padding-top: 0px;
    }
    .ucsm-header-logo-lite{
        /* width: inherit; */
    }  
    .ucsm-header-textlogo-lite a{
        font-size: 30px !important;
    } 
}