body {
    margin: 0;
    padding: 0;
    
}
p.ucsm-description {
    line-height: 30px;
}
html {
    margin-top: 0 !important;
}

.ucsm-content {
    text-align: center;
    max-width: 1580px;
    margin: 0 auto;
    padding: 190px 15px 0;
}


.ucsm-header-top-bar-pro {
    padding: 40px 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ucsm-header-top-bar-pro.align-left{
    justify-content: flex-start;
}

.ucsm-header-top-bar-pro.align-center{
    justify-content: center
}
.ucsm-header-top-bar-pro.align-right{
    justify-content: flex-end;
}

.ucsm-bottom-content .ucsm-header-social-lite ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.ucsm-header-logo-lite img {
    max-width: 100%;
    max-height: 70px;
}

.ucsm-bottom-content .ucsm-header-social-lite ul li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
    text-decoration: none;
    border: 1px solid #ffffff4a;
}
.ucsm-bottom-content .ucsm-header-social-lite ul li:first-child a{
    margin-left: 0;
}

.ucsm-heading {
    font-size: 120px;
    line-height: 1;
    color: #ffffff;
    margin: 0px 0 30px;
}

.ucsm-content .ucsm-bottom-box .ucsm-bottom-content{
    text-align: left;
    padding-left: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.ucsm-content .ucsm-bottom-box .shape-image{
    min-width: 765px;    
    display: block;
}

.ucsm-content p {
    font-size: 20px;
    color: #ffffff;
}

.ucsm-form-box {
    display: flex;
    padding-top: 50px;
}
.ucsm-form-box input{
    width: 100%;
    height: 60px;
    border: 0;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 17px;
    color: #000;
    margin-bottom: 0 !important;
}

.ucsm-form-box input::placeholder{
    opacity: 1;
    color: #9B9B9B;
}

.ucsm-form-box input:focus{
    outline: 0;
    box-shadow: none;
}

.ucsm-form-box button{
    margin-left: 10px;
    border-radius: 4px;
    background: #F5BF57;
    border: 0;
    padding: 0 45px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ucsm-form-box button:hover{
    background: #fff;
    color: #F5BF57;
    
}
.ucsm-countdown .ucsm-countdown-item-lite {
    display: inline-flex;
    flex-direction: column;
    margin: 0 20px;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-label-lite {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin-top: 13px;

}

.ucsm-contact-info-lite {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    width: 100%;
}

.ucsm-contact-info-lite ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.ucsm-contact-info-lite ul li p{
    margin: 0;
}
.ucsm-contact-info-lite ul li {
    display: inline-block;
}

.ucsm-contact-info-lite ul li,
.ucsm-contact-info-lite ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
}

.ucsm-contact-info-lite ul li a p:hover{
    
    color: #ffffffd1;
    
}
.ucsm-header-social-lite ul li a:hover i{
    color: #FFC75C !important;
}

.ucsm-contact-info-lite ul li .icon {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}


.shape-image img{
    max-width: 100%;
    display: block;
}

.ucsm-copyright{
    width: 100%;
    text-align: center;
    border-top: 1px solid #ffffff2f;
    padding-top: 15px;
    padding-bottom: 15px;
}


.ucsm-copyright p{
    color: #ffffff;
    font-size: 16px;
    margin:  0;
}

.ucsm-copyright p a{
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}


@media (min-width: 992px) {
    .ucsm-countdown {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1799px) {
    .ucsm-heading{
        font-size: 90px;
        line-height: 90px;
    }
    .ucsm-content .ucsm-bottom-box .shape-image{
        min-width: 550px;
        padding-left: 30px;
    }
}

@media (max-width: 1199px) {
    .ucsm-bottom-box{
        flex-direction: column-reverse;
        align-items: center !important;
    }
    .ucsm-content .ucsm-bottom-box .ucsm-bottom-content{
        text-align: center;
        /* padding-bottom: 0; */
        padding-left: 0px;
    }
    .ucsm-heading{
        font-size: 70px;
        line-height: 1.15;
    }
    .ucsm-content .ucsm-bottom-box .shape-image{
            padding-left: 0;
    }
    .ucsm-bottom-content .ucsm-header-social-lite ul{
        justify-content: center;
    }
    .ucsm-content{
        padding: 90px 15px 0;
    }

}
@media (max-width: 991px) {

    .ucsm-contact-info-lite {
        padding-top: 40px;
        position: static;
        transform: translateX(-0%);
    }

    .ucsm-contact-info-lite ul li a {
        margin: 0 15px 15px;
    }

    .ucsm-header-textlogo-lite a{
        font-size: 40px !important;
    } 
         .ucsm-content{
        padding: 65px 15px 0;
     } 
}

@media (max-width: 767px) {

    .ucsm-heading {
        font-size: 40px !important;
        margin: 0;
    }
    .ucsm-heading span {
        font-size: 40px !important;
        line-height: 50px;
    }
    .ucsm-content p {
        font-size: 18px !important;
        line-height: 28px !important;
    }
    .ucsm-content .ucsm-copyright p{
        font-size: 16px !important;
    }

    .ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
        font-size: 40px !important;

    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        flex-basis: 50%;
    }

    .ucsm-form-box {
        padding: 50px 15px 0;
    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        margin: 0 20px 25px;
    }
    .ucsm-content .ucsm-bottom-box .shape-image{
        min-width: 100%;
    }
    .ucsm-header-top-bar-pro{
        padding: 40px 15px 0;
    }
}

@media (max-width: 575px) {

    .ucsm-heading {
        font-size: 34px;
    }

    .ucsm-form-box {
        flex-direction: column;
    }

    .ucsm-form-box button {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
    }

    .ucsm-form-box input {
        width: 100%;
        box-sizing: border-box;
    }

    form#coming-soon-form-lite {
        flex-direction: column;
    }

    .ucsm-header-logo-lite {
        text-align: center;
    }
    .ucsm-header-textlogo-lite a{
        font-size: 30px !important;
    } 
}