body {
    margin: 0;
    padding: 0;
    
}
p.ucsm-description {
    line-height: 30px;
}
html {
    margin-top: 0 !important;
}
.wpucs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ucsm-content {
    text-align: center;
    max-width: 730px;
    display: flex;
    flex-direction: column;
}


.ucsm-header-top-bar-pro {
    padding: 40px 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}
.ucsm-header-top-bar-pro.align-center{
    flex-direction: column;
}
.ucsm-header-top-bar-pro.align-center .ucsm-header-logo-lite {
    text-align: center;
}
.ucsm-header-top-bar-pro.align-right {
    flex-direction: row-reverse;
}
.ucsm-header-top-bar-pro .ucsm-header-social-lite ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.ucsm-header-logo-lite {
    width: 300px;
}

.ucsm-header-logo-lite img {
    max-width: 100%;
    max-height: 70px;
}

.ucsm-header-top-bar-pro .ucsm-header-social-lite ul li a {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
    text-decoration: none;

}
.ucsm-header-social-lite ul li a:hover i{
    color: #FFC75C !important;
}


.ucsm-heading {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 29px;
    padding-top: 100px;
}

.ucsm-content p {
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0 50px;
}

.ucsm-form-box {
    display: flex;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}
.wpucs-container .ucsm-form-box input{
    width: 100%;
    height: 60px;
    border: 0;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 17px;
    color: #000;
    margin: 0 !important;
    background-color: #fff;
}

.ucsm-form-box input::placeholder{
    opacity: 1;
    color: #9B9B9B;
}

.ucsm-form-box input:focus{
    outline: 0;
    box-shadow: none;
}

.ucsm-form-box button{
    margin-left: 10px;
    border-radius: 4px;
    background: #F5BF57;
    border: 0 !important;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0;
}

.ucsm-form-box button:hover{
    background: #fff;
    color: #F5BF57;
    
}
.ucsm-countdown .ucsm-countdown-item-lite {
    display: inline-flex;
    flex-direction: column;
    margin: 0 20px;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-label-lite {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin-top: 13px;

}

.ucsm-contact-info-lite {
    width: 100%;
}

.ucsm-contact-info-lite ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
    padding-left: 15px;
  padding-right: 15px;

}

.ucsm-contact-info-lite ul li p{
    margin: 0;
}
.ucsm-contact-info-lite ul li {
    display: inline-block;
    gap: 15px;
}

.ucsm-contact-info-lite ul li,
.ucsm-contact-info-lite ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.ucsm-contact-info-lite ul li a p:hover{
    
    color: #ffffffd1;
    
}

.ucsm-contact-info-lite ul li .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    min-width: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.ucsm-contact-info-lite .ucsm-copyright{
    text-align: center;
    border-top: 1px solid #ffffff2c;
    margin-top: 30px;
}
.ucsm-contact-info-lite .ucsm-copyright p{
    color: #ffffff;
    margin: 20px 0;
}
.ucsm-contact-info-lite .ucsm-copyright p a{
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.ucsm-contact-info-lite .ucsm-copyright p a:hover{
    color: #F5BF57;
}

form#coming-soon-form-lite {
    display: flex;
    width: 100%;
}

@media (min-width: 992px) {
    .ucsm-countdown {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 991px) {

    .ucsm-header-top-bar-pro{
        padding: 40px 15px 0;
    }

    .ucsm-heading{
        padding-top: 60px;
    }
    .ucsm-header-textlogo-lite a{
        font-size: 40px !important;
    }
    .ucsm-contact-info-lite ul{
        padding-top: 60px;
    }
}

@media (max-width: 767px) {

    .ucsm-content {
        max-width: inherit;
        padding: 0 15px;
    }

    .ucsm-heading {
        font-size: 40px !important;
        line-height: 50px;
        margin: 0;
    }
    .ucsm-heading span {
        font-size: 40px !important;
        line-height: 50px;
    }
    .ucsm-content p {
        font-size: 16px;
    }

    .ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
        font-size: 40px !important;

    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        flex-basis: 50%;
    }

    .ucsm-form-box {
        padding: 50px 0px 0;
    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        margin: 0 20px 25px;
    }

}

@media (max-width: 575px) {
    .ucsm-header-top-bar-pro {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ucsm-heading {
        font-size: 34px;
    }

    .ucsm-form-box {
        flex-direction: column;
    }

    .ucsm-form-box button {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
    }

    .ucsm-form-box input {
        width: 100%;
        box-sizing: border-box;
    }

    form#coming-soon-form-lite {
        flex-direction: column;
    }

    .ucsm-header-textlogo-lite {
        margin-bottom: 30px;
    }
    .ucsm-header-textlogo-lite a{
        font-size: 30px !important;
    }
}