* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
html {
    margin-top: 0 !important;
}
.ucsm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ucsm-content {
    text-align: center;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
}

.ucsm-header-top-bar-pro {
    padding: 40px 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

.ucsm-header-top-bar-pro.align-center{
    flex-direction: column;
    gap: 20px;
}
.ucsm-header-top-bar-pro.align-right{
    flex-direction: row-reverse;
}

.ucsm-header-top-bar-pro.align-center .ucsm-header-logo-lite{
    text-align: center;
}


.ucsm-header-logo-lite img {
    max-width: 100%;
    max-height: 70px;
}

.ucsm-header-top-bar-pro .ucsm-header-logo-lite a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.ucsm-heading {
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    line-height: 48.42px;
    margin: 0 125px;
    padding-top: 90px;
}

.ucsm-heading span {
    color: #FFC75C;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.2;
    display: block;
}

.ucsm-content>p {
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0 50px;

}

.ucsm-content form {
    text-align: left;
}

.ucsm-form-box {
    display: flex;
    padding-top: 80px;
    width: 680px;
    margin: 0 auto;
}

.ucsm-container .ucsm-form-box input {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding-left: 20px;
    border-radius: 10px;
    font-size: 17px;
    color: #fff;
    background: transparent;
    box-sizing: border-box;
    margin: 0 !important;

}

.ucsm-form-box input::placeholder {
    opacity: 1;
    color: rgba(255, 255, 255, 0.8);
}

.ucsm-form-box input:focus {
    outline: 0;
    box-shadow: none;
}

.ucsm-form-box button {
    margin-left: 10px;
    border-radius: 10px;
    background: #FFC75C;
    border: 0 !important;
    padding: 0 45px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0;
}


.ucsm-form-box button:hover {
    background: #e7c178;
    color: #fff;
}

.ucsm-social-box-lite ul {
    margin: 50px 0 100px;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.ucsm-social-box-lite ul li a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff23;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
    text-decoration: none;
}

.ucsm-social-box-lite ul li a:hover {
    background: #FFC75C;

}

.ucsm-social-box-lite ul li a svg path {
    transition: all linear 0.3s;
}

.ucsm-social-box-lite ul li a:hover svg path {
    fill: #000;
}

.ucsm-countdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ucsm-countdown .ucsm-countdown-item-lite {
    display: flex;
    align-items: center;
    margin: 0 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4px 22px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-label-lite {
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    margin: 0px 0px 0 10px;
    color: rgba(255, 255, 255, 0.62);
    font-size: 24px;
}

.ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
    font-weight: 500;
    color: #fff;
    font-size: 50px;
}


.ucsm-contact-info-lite {
    position: static;
    width: auto;
}

.ucsm-contact-info-lite ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ucsm-contact-info-lite ul li {
    display: inline-block;

}

.ucsm-contact-info-lite ul li,
.ucsm-contact-info-lite ul li a {

    text-decoration: none;
    color: #fff;
    display: inline-flex;
    gap:10px;
    align-items: center;
}
.ucsm-contact-info-lite ul li a p{
    transition: all 0.3s;
    margin-bottom: 0;
}
.ucsm-contact-info-lite ul li a:hover p{
    color: #ffffffcc;
}


.ucsm-contact-info-lite ul li .icon {
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ucsm-copyright{

    width: 100%;
    border-top: 1px solid #ffffff38;
    padding: 20px 15px 20px 15px;
    display: flex;
  justify-content: center;
}
.ucsm-copyright p{
    color: #ffffff;
    margin:  0;
}
.ucsm-copyright p a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}
.ucsm-copyright p a:hover{
    color: #FFC75C;
}

@media (min-width: 992px) {
    .ucsm-countdown {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 991px) {

    .ucsm-contact-info-lite {
        padding-top: 0px;
        position: static;
        transform: translateX(-0%);
    }

    .ucsm-countdown {
        flex-wrap: wrap;
    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        margin-bottom: 20px;
    }
    .ucsm-header-textlogo-lite a{
        font-size: 40px !important;
    }
    .ucsm-header-top-bar-pro{
        padding: 40px 15px 0;
    }
    .ucsm-heading{
        padding-top: 70PX;
        margin: 0;
    }
    .ucsm-content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .ucsm-form-box{
        width: 100%;
        padding-top: 40px;
    }
    .ucsm-social-box-lite ul{
        margin: 50px 0 60px;
    }
}

@media (max-width: 767px) {


    .ucsm-content {
        max-width: inherit;
        padding: 0 15px;
    }

    .ucsm-heading {
        font-size: 40px !important;
        line-height: 50px !important;
        margin: 0;
    }

    .ucsm-heading span {
        font-size: 40px !important;
    }

    .ucsm-content>p {
        font-size: 16px;
    }

    .ucsm-countdown .ucsm-countdown-item-lite .ucsm-countdown-number-lite {
        font-size: 40px !important;
    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        flex-basis: 50%;
    }

    .ucsm-form-box {
        padding: 20px 20px 0;
        width: auto;
        justify-content: center;
    }

    .ucsm-countdown .ucsm-countdown-item-lite {
        margin: 0 20px 25px;
        justify-content: center;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) { 
    .ucsm-form-box button {
        margin-top: 0px;
    }
}


@media (max-width: 575px) {
    .ucsm-header-top-bar-pro {
        justify-content: center;
    }

    .ucsm-heading {
        font-size: 34px;
    }

    .ucsm-form-box {
        flex-direction: column;
    }

    .ucsm-form-box button {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
    }

    .ucsm-form-box input {
        width: 100%;
        box-sizing: border-box;
    }

    .ucsm-header-textlogo-lite{
        margin-bottom: 20px;
    }
    .ucsm-header-textlogo-lite a{
        font-size: 30px !important;
    }
}